.mapGuide {
    display: flex;
    gap: 90px;
    padding: 20px;
    height: 90vh; 
    box-sizing: border-box;
  }
  
  .mapCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 190px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
  }
  
  .mapCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  .mapImage {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }
  
  .mapLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: auto;
    z-index: 2;
  }
  
  .mapName {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    background-color: #333;
    color: white;
    width: 100%;
    border-radius: 0 0 10px 10px;
  }
  