.mapGuide {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	gap: 20px;
	padding: 20px;
	width: 100%;
	height: calc(100vh - 50px);
	box-sizing: border-box;
	justify-content: flex-start;
}

.mapCard {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex: 1;
	min-width: 200px;
	max-width: 250px;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	background-color: #fff;
	height: calc(100vh - 110px);
}

.mapCard:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.mapImage {
	background-size: cover;
	background-position: center;
	width: 100%;
	height: calc(100vh - 110px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.mapLogo {
	width: 60%;
	height: auto;
	z-index: 2;
}

.mapName {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
	background-color: #333;
	color: white;
	width: 100%;
	border-radius: 0 0 10px 10px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mapGuide::-webkit-scrollbar {
	height: 10px;
}

.mapGuide::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 4px;
}

.mapGuide::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* Dla ekranów mniejszych niż 1024px */
@media (max-width: 1024px) {
	.mapCard {
		min-width: 180px;
		max-width: 220px;
	}
}

/* Dla ekranów mniejszych niż 768px */
@media (max-width: 768px) {
	.mapCard {
		min-width: 160px;
		max-width: 200px;
	}
}

/* Dla telefonów – bardziej kompaktowa */
@media (max-width: 480px) {
	.mapCard {
		min-width: 140px;
		max-width: 180px;
	}
}
